@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body, #app, #app>div {
    height: 100%
}

.App--vanilla{
    background-color: white;
}

.App--bday{
    background-color: blue;
}

.App--cyber{
    background-color: black;
    color: greenyellow !important;
    font-family: 'VT323';
}